.Auth{
    margin:20px auto;
    background-color:#ccc;
    width:80%;
    text-align: center;
    box-shadow: 0 2px 3px #000;
    border:1px solid #eee;
    padding:10px;
    box-sizing:border-box;
}

.Input{
    display:block;
}

@media(min-width:600px){
    .Auth{
        width:500px;
    }
}